<div style="text-align : center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<app-test></app-test>

<!-- <div>
  <input [id]="myId" type="text" value="Naveen">
  <input disabled = "{{false}}" id="{{myId}}" type="text" value="Naveen">
  <input [disabled] = "false" id="{{myId}}" type="text" value="Devinda">
  <input bind-disabled = "isDisabled" id="{{myId}}" type="text" value="Rajasekara">
  
  <h2 class = "text-special">Naveen</h2>
  <h2 class = "text-success" >Naveen</h2>
  <h2 [class] = "successClass">Naveen</h2>
  <h2 class = "text-special" [class] = "successClass">Naveen</h2>
  <h2 [class.text-danger] = "hasError">Naveen</h2>
  <h2 [ngClass] = "messageClasses">Naveen</h2>

  <h2 [style.color] = "hasError ? 'red' : 'green'">Style Binding</h2>
  <h2 [style.color] = "highlichtColor">Style Binding 2</h2>
  <h2 [ngStyle] = "titleStyles">Style Binding 3</h2>
  
  <button (click) = "onClick($event)">Greet</button>
  <button (click) = "greeting = 'Welcome Naveen'">Greet</button>
  {{greeting}}
</div> -->