.he{
    background-image: url("https://www.google.com/search?q=images&rlz=1C1CHBD_enLK814LK814&sxsrf=ACYBGNSVQsGwEkkl1eJfE3LEN_VGWoxpbw:1578853234258&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiMwbjR1v7mAhWz4jgGHeyTDPcQ_AUoAXoECA0QAw&biw=1536&bih=754&dpr=1.25#imgrc=_2JirDBiGzi3lM:");
    background-color: gray;    
    text-align: center;
    height: 100vh;
    width: 100vh;
    
}

.head{ 
    background-color: gray;
    text-align: center;
}